$primary-color: #222222;
$white: #ffffff;
$lime: rgb(160, 255, 35);
$lime-dark: rgb(129, 205, 29);
$red: rgb(214, 15, 15);
$green: rgb(73, 251, 46);
$gray: rgb(138, 137, 137);
@mixin input-style {
  height: 35px;
  font-size: 18px;
  border: 1px solid $lime;
  border-radius: 7px;
  background: $primary-color;
  color: $white;
  padding: 0 5px;
  &:focus {
    outline: none;
  }
}

@font-face {
  font-family: "Montserrat";
  src: url("public/fonts/Montserrat-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  background-color: $primary-color;
  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-track {
    background: $primary-color;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid $lime;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $lime;
    border-radius: 5px;
  }
}

#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 65px;
  width: 100%;
  border-bottom: 1px solid $lime;

  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 14px;

    input {
      @include input-style();
    }

    .input-element {
      position: relative;

      label {
        padding: 0 5px;
        position: absolute;
        background: $primary-color;
        top: -12px;
        color: $lime;
      }

      select {
        @include input-style();
      }
    }

    button {
      @include input-style();
      cursor: pointer;
      min-width: 35px;
      border-radius: 50%;

      &:hover {
        background: $lime;
        color: $primary-color;
      }
    }
  }
}

.cards-container {
  width: 100%;
  padding: 20px 10px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(520px, 1fr));
  gap: 24px 12px;
}

.card-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid $lime;
  border-radius: 12px;
  overflow: hidden;
  height: 240px;
  width: 520px;

  .card-item-container__img-container {
    height: 100%;

    .img-container__img {
      height: 100%;
    }
  }

  .card-item-container__description-container {
    padding: 7px 12px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    .description-container__name {
      color: $white;
      margin-bottom: 7px;
    }

    .description-container__desc-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 7px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: $white;
      margin-bottom: 10px;

      .desc-item__circle {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 1px solid $white;
      }
    }

    .description-container__desc-head {
      color: $gray;
      font-weight: 700;
    }
    .description-container__desc-body {
      color: $white;
      font-size: 18px;
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}

.red-bcg {
  background: $red;
}
.green-bcg {
  background: $green;
}
.gray-bcg {
  background: $gray;
}

.pagination-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  margin-bottom: 7px;
  list-style: none;
}
.paginate-buttons {
  overflow: hidden;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  cursor: pointer;
  background-color: $primary-color;
  border: 1px solid $lime;
  color: $white;

  &:hover {
    background-color: $gray;
  }

  .page-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}
.active-page {
  background-color: $lime;
  border: 1px solid $lime;
  color: $primary-color;

  &:hover {
    background-color: $lime-dark;
  }
}

.button__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.empty-message {
  margin-top: 10px;
  color: $lime;

  .empty-message__sad {
    color: $red;
    margin-left: 7px;
  }
}
